<!doctype html>
<html lang="es">
   <head>
      <title>{% block title %}Hostal Ekaitza en Lesaka{% endblock %}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block stylesheets %}
      {% endblock %}
   </head>

   <body>
      {% block carousel %}
      {% endblock %}
      {% block navbar %}
      {% endblock %}
      {% block body %}
      {% endblock %}
      {% block javascripts %}
      {% endblock %}
   </body>
</html>

