
###> symfony/framework-bundle ###
descubriendoargentina.tar.gz
.env
/material/
/public/bundles/
/public/images/
/public/matomo/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
