<div class="row">
   <div class="col-md-3">
   </div>
   <div class="col-md-6 text-light bg-info py-5 my-5" style='text-align:center; font-size:125%'>
      Su consulta fue enviada correctamente.<br/>Gracias por su visita.
   </div>

   <div class="col-md-3">
   </div>
</div> 
