<div class="row mt-4"  style="font-size:12px;">
<div class="col-md-12 justify-content-center text-info font-weight-bold text-uppercase p-1" style="font-size:14px;" align="center">
   {{ 'Alojamiento' }}
</div>

<div class="col-md-12 pt-0 justify-content-center" align="center" >
   <a href="{{ path('principalescentrosturisticos') }}" class="list-group-item list-group-item-action py-1 {% if menulocal == 'principalescentrosturisticos' %} bg-active {% endif %}">Principales Centros Turísticos</a>
   <a href="{{ path('mapainteractivo', {'region': 'argentina'}) }}" class="list-group-item list-group-item-action py-1 {% if menulocal == 'mapainteractivo' %} bg-active {% endif %}">Mapa Interactivo</a>
   {# Pendiente: Sustituir Información Útil por Noticias #}
   {#<a href="" class="list-group-item list-group-item-action py-1 {% if menulocal == 'principalescentrosturisticos' %} bg-active {% endif %}">Información Útil</a>#}
</div>
</div>


